type fpc_data_file, file_type;
type fpc_persist_file, file_type;
type goodix_data_file, file_type;
type goodix_fpd_device, file_type;
type dsp_file, fs_type, contextmount_type;
type debugfs_msm_core, debugfs_type, fs_type;
type debugfs_rmts, debugfs_type, fs_type;
type peel_ir_device, file_type;
type sysfs_cnss_common, sysfs_type, fs_type;
type sysfs_fpc, sysfs_type, fs_type;
type sysfs_fpc_keyevents, sysfs_type, fs_type;
type sysfs_fpc_wakeup, sysfs_type, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;
type tftp_server_check_file, file_type;
type thermal_data_file, file_type;
type thermal_dump_file, file_type;
type netmgr_data_file, file_type;
