# Allow fingerprintd to open firmware images
r_dir_file(fingerprintd, firmware_file)

allow fingerprintd fingerprint_service:service_manager find;

allow fingerprintd sysfs:file { open write };
allow fingerprintd fpc_persist_file:file { open read };
allow fingerprintd property_socket:sock_file { write };
allow fingerprintd mpctl_socket:sock_file { write };
allow fingerprintd init:unix_stream_socket { connectto };
allow fingerprintd perfd:unix_stream_socket { connectto };
allow fingerprintd fp_pnstatus_prop:property_service { set };

allow fingerprintd fingerprintd:netlink_socket { create bind read write };
allow fingerprintd fpc_data_file:dir rw_dir_perms;
allow fingerprintd fpc_data_file:file create_file_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd goodix_data_file:dir rw_dir_perms;
allow fingerprintd goodix_data_file:file create_file_perms;
allow fingerprintd goodix_data_file:sock_file { create unlink };
allow fingerprintd goodix_fpd_device:chr_file rw_file_perms;
allow fingerprintd goodix_fpd_device:chr_file { create setattr };
allow fingerprintd sysfs_fpc:dir r_dir_perms;
allow fingerprintd sysfs_fpc:file rw_file_perms;
allow fingerprintd sysmatdrv_device:chr_file w_file_perms;
allow fingerprintd system_prop:property_service { set };
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd uhid_device:chr_file rw_file_perms;

allow fingerprintd storage_file:lnk_file read;
allow fingerprintd storage_file:dir search;
allow fingerprintd mnt_user_file:lnk_file read;
allow fingerprintd mnt_user_file:dir search;
allow fingerprintd sdcardfs:dir search;
allow fingerprintd media_rw_data_file:dir { search read open };
