allow qti_init_shell configfs:file { write open };

allow qti_init_shell property_socket:sock_file write;
allow qti_init_shell init:unix_stream_socket connectto;

allow qti_init_shell kmsg_device:chr_file { write open };

allow qti_init_shell system_panel_prop:property_service set;

allow qti_init_shell bluetooth_loader_exec:file { open read	};

allow qti_init_shell sensors_persist_file:dir { setattr relabelfrom relabelto };
allow qti_init_shell sensors_persist_file:file { relabelfrom relabelto };
allow qti_init_shell persist_file:file { relabelfrom relabelto };
allow qti_init_shell sensors_data_file:dir setattr;

qmux_socket(qti_init_shell)
