type_transition thermal-engine system_data_file:file thermal_data_file "decrypt.txt";

allow thermal-engine init:unix_stream_socket connectto;
allow thermal-engine property_socket:sock_file write;

allow thermal-engine sysfs_kgsl:file r_file_perms;
allow thermal-engine system_data_file:dir w_dir_perms;

allow thermal-engine system_prop:property_service set;

allow thermal-engine thermal_dump_file:dir rw_dir_perms;
allow thermal-engine thermal_dump_file:file create_file_perms;
allow thermal-engine thermal_data_file:file create_file_perms;

allow thermal-engine thermal-engine:capability { chown fowner };
