on boot
    chown system system /proc/touchpanel/capacitive_keys_enable
    chmod 0660 /proc/touchpanel/capacitive_keys_enable

service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.sagit
    class hal
    user system
    group system
